/* minii reset css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* variable css */

:root {
    --color: rgba(245, 195, 110, 1);
    --white: #fff;
}

/* le header */

header h1 {
    position: relative;
    left: 25%;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    color: rgba(33, 55, 69, 1);
}

/* création d'un pseudo-élément qui sera le premier enfant de l'élément span */

header span::before {
    content: "concepteur";
    font-size: 2rem;
    animation: anim 8s infinite;
}

/* animation css */

@keyframes anim {
    0% {
        content: "concepteur";
    }

    33% {
        font-size: 2rem;
        content: "développeur";
    }

    66% {
        font-size: 2rem;
        content: "d'applications";
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    transition: 0.30s ease-in-out;
}

/* le main */

input {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--white);
    font-size: 30px;
    margin: 0 auto;
}

.btn {
    border: none;
    background-color: var(--color);
    color: black;
    padding: 0.5rem;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.box {
    border: 6px solid var(--color);
    padding: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.text-song {
    text-align: center;
    color: var(--color);
}

i {
    width: 100%;
    text-align: center;
}